.list-group{
cursor: pointer;
height: 100px;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;

}