<h1>Esta es una app que simula un piano</h1>

<div class="row">
  <div class="col-lg-4">
  <div class="list-group">      
    <a (click)="aplicar_sonido(1)" class="list-group-item list-group-item-action" style="background-color: red;"></a>
    <a (click)="aplicar_sonido(2)" class="list-group-item list-group-item-action" style="background-color: orange;"> </a>
    <a (click)="aplicar_sonido(3)" class="list-group-item list-group-item-action" style="background-color: blue;"></a>
    <a (click)="aplicar_sonido(4)" class="list-group-item list-group-item-action" style="background-color: green;"></a>
    <a (click)="aplicar_sonido(5)" class="list-group-item list-group-item-action" style="background-color: grey;"></a>
    <a (click)="aplicar_sonido(6)" class="list-group-item list-group-item-action" style="background-color: yellow;"></a>
    <a (click)="aplicar_sonido(7)" class="list-group-item list-group-item-action" style="background-color: greenyellow;"></a>
     
  </div>
</div>
</div>

<!-- 
Formas de enviar datos en angular

interpolacion {}            desde el ts hacia el html
Event binding  (click)            desde el html al ts
two way binding             desde el html ts y ts a html
Property biding           class"{poner_color}" ts al html
 -->




<!-- <audio controls>
  <source src="../assets/sonidos/note1.wav">
</audio> -->